/* src/components/pages/Home.css */

.home-container {
  padding: 20px;
  padding-bottom: 85px; /* Add padding to accommodate the fixed footer */
}

.home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  text-align: center; /* Center the content horizontally */
}

.home-heading {
  margin-bottom: 40px;
}

.home-left-content {
  flex: 1;
  padding-right: 40px;
  padding-left: 80px;
}

.home-right-content {
  flex: 1;
  padding-left: 40px;
  padding-right: 80px;
}

.home-paragraph {
  margin-top: 20px;
  margin-bottom: 20px;
}

.home-image {
  padding-top: 40px;
  width: 80%; /* Stretch the image to be wide */
  max-height: 200px; /* Adjust the height as per your preference */
}

.home-button-container {
  display: flex;
  flex-direction: column; /* Arrange items in a column */
  align-items: center; /* Center items horizontally */
  margin-top: 20px; /* Add margin to separate the button from other content */
}

.home-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: orange;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}

.home-button:hover {
  background-color: darkorange;
}
