/* src/components/common/Header.css */
.header {
  background-color: orange;
  padding: 0px;
  text-align: center;
  position: fixed;
  width: 100%;
}

.header h1 {
  background-color: orange;
  color: white ; /* Change the color to white */
}
