/* src/App.css */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.App {
  display: flex;
  flex-direction: column;
  flex:1;
}

.app-content {
  padding-top: 20px;  
  padding-bottom: 60px;
}